{% extends 'tours/base.html' %} {% block content %}


<h1 class="display-5 mt-4">Летим <span data-test="from">{{departure_from}}</span></h1>
<p class="mb-4">Найдено <span data-test="tourcount">{{tours|length}}</span> туров, от
    <span data-test="pricemin">{{tours_stats.min_price}}</span>
    до <span data-test="pricemax">{{tours_stats.max_price}}</span> и от
    <span data-test="nightsmax">{{tours_stats.min_nights}}</span> ночей до
    <span data-test="nightsmax">{{tours_stats.max_nights}}</span> ночей</p>
<!-- HERO -->


<!-- CARDS -->

<div class="row mt-5" data-test="cards">
    {% for tour_id, tour in tours.items %}
    <div class="col-4" data-test="card">
        <div class="card mb-3">
            <img src="{{tour.picture}}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{tour.title}} {{tour.stars}} ★</h5>
                <p class="card-text">{{tour.description|truncatechars:200}}</p>
                <a href="/tour/{{tour_id}}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}